{% extends "personal/header.html" %}

{% block content %}

<p> Hey, welcome to my website! I am a programmer! I can do everything i want, I just have to visualise it.
    I know how to visualise.
    I've done it many times before while learning skateboarding, windsurfing, playing the guitar, playing the piano. It seems like you do
     not moving at first, but it's wrong feeling, don't let
    fears and obstacles stop you. Do what you feel you have
    to do. I have to do not let fears and obstacles to confuse
    me. </p>

<!лучше includes в  separate directories чтобы не путаться>

{% include "personal/includes/htmlsnippet.html" %}

{% endblock %}